*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-color: #c5c5c5;
  --fg-color: #1B4D3E;
  --book-color: #6385c5;
  --book-left-border: #7893cf;
  --read-btn: lightgreen;
  --delete-btn: #ff0f0f;
  --title-color: #F9C11C;
  --author-color: white;


  --book-grid-template: repeat(auto-fit, minmax(14rem, 1fr));
  --gap-size: 0;
  --display-form: none;/* toggle flex */
  --input-outline-error: var(--delete-btn);
}

body{
  height: 100vh;
}

.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.main-container{
  height: 90%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.top-main{
  height: 3rem;
  width: 100%;


  button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1rem;
    gap: 1rem;
    background-color: var(--fg-color);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
  }

  svg{
    width: 2rem;
    fill: var(--bg-color);
  }
}

.bottom-main{
  width: 100%;
  height: calc(100% - 3rem);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--fg-color) transparent;
  display: grid;
  grid-template-columns: var(--book-grid-template);
  gap: calc(100% - 98.6%);

  > *{
    border-left: 15px solid var(--book-left-border);
    border-radius: .2rem .5rem .4rem .2rem;
  }
}

.book{
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--book-color);
  color: var(--author-color);

  > *{
    height: 12%;
    width: 100%;
  }

  .title{
    height: 64%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--title-color);
  }

  .author, .page{
    display: flex;
    justify-content: flex-end;
  }

  .action-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > button{
      width: 45%;
      height: 100%;
      border-radius: 5px;
      border: none;
      background-color: var(--bg-color);
    }

    > button:nth-of-type(2):hover{
      background: var(--delete-btn);
    }
  }
}

.dialog{
  position: absolute;
  width: 100%;
  border: none;
  height: 100%;
  top: 0;
  z-index: 100;
  display: var(--display-form);
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;

  form{
    display: var(--display-form);
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    border: 3px solid var(--book-left-border);
    position: relative;
    background-color: var(--book-color);
    max-width: 324px;

    svg{
      width: 2rem;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
    }

    svg:hover{
      fill: var(--delete-btn);
    }

    label{
      display: flex;
      flex-direction: column;
      gap: .1rem;
      margin-bottom: 1rem;
      color: var(--bg-color);
      font-weight: 700;

      input{
        height: 2rem;
        padding: 0 0.2rem;
        font-size: 1.2rem;
        border: none;
        width: 100%;
      }
    }

    button{
      height: 2rem;
      width: 100%;
      cursor: pointer;
      background-color: var(--fg-color);
      color: var(--bg-color);
      font-weight: 700;
      border: none
    }
  }
}